/*Fonts*/

@font-face {
    font-family: Kelson;
    src: url('fonts/Kelson/Commercial/OTF/KelsonSans-Bold.otf') format('embedded-opentype'), url('fonts/Kelson/Commercial/WEB/KelsonSans-Bold.woff') format('woff'), url('fonts/Kelson/Commercial/TTF/KelsonSans-Bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

/*Body*/

body {
    background-color: #e6e5e5;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'PT Serif', sans-serif;
}

h2 {
    font-family: 'Kelson', Arial, serif;
}

:root {
    --prim-color: #fc038c;
}


/*Scroll-bar*/

html::-webkit-scrollbar {
    width: 10px;
    overflow-x: hidden;
}

html::-webkit-scrollbar-track {
    background: #e6e5e5;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: var(--prim-color);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #ae0060;
    border-radius: 10px;
}


/*Navaigation-bar*/

.nav-bar {
    display: inline-block;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1800px;
    height: 70px;
    background-color: #e6e5e5;
}

.nav-bar h1 {
    /*position: fixed;*/
    /*top: 0px;*/
    font-size: 30px;
    margin-top: 10px;
    color: var(--prim-color);
}

.nav-bar nav ul {
    position: fixed;
    top: 0px;
    right: 0px;
}

.nav-bar nav li {
    display: inline-block;
    margin-right: 10px;
}

.nav-bar nav li a {
    text-decoration: none;
    color: black;
}

.nav-bar nav li a:hover {
    color: var(--prim-color);
}

.nav-bar nav li button {
    background-color: var(--prim-color);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.nav-bar nav li button:hover {
    background-color: #d3177f;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*CONTENT1*/

.content-1 {
    height: 700px;
    margin-top: 150px;
    margin-left: 200px;
    background-image: url(images/Main\ Illustration.png);
    background-repeat: no-repeat;
    background-size: 450px 550px;
    background-position: bottom 150px right 300px;
}

.rectangle {
    position: relative;
    bottom: 30px;
    height: 20px;
    width: 200px;
    background-color: #3ff1aadd;
    margin-bottom: 10px;
    z-index: -1;
    margin-bottom: 5px;
}

#huge {
    position: relative;
    bottom: 30px;
    height: 20px;
    width: 250px;
    background-color: #3ff1aadd;
    margin-bottom: 10px;
    z-index: -1;
    margin-bottom: 5px;
}

.content-1 h2 {
    font-size: 46px;
    margin-bottom: 5px;
    font-style: italic;
}

.content-1 h3 {
    color: #000000;
}

.content-1 img {
    position: relative;
    width: 450px;
    height: 600px;
    left: 550px;
    bottom: 300px;
}

.pink-color {
    color: var(--prim-color);
}

.content-1 button {
    position: static;
    bottom: 0px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.content-1 button:hover {
    position: static;
    bottom: 0px;
    background-color: #000000;
    border: 2px solid black;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#pink-button {
    background-color: var(--prim-color);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#pink-button:hover {
    background-color: #d3177f;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*CONTENT2*/

.content-2 {
    margin-top: 0px;
    margin-left: 100px;
    width: 1400px;
}

.content-2 h2 {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 46px;
    font-style: italic;
}

.content-2 h3 {
    font-size: 20px;
    font-style: italic;
}

.content-2 span {
    text-decoration: underline #3ff1aadd;
    text-decoration-style: dashed;
    text-underline-offset: 1rem;
}

.images {
    margin-top: 0px;
    margin-right: 20rem;
}

.content-2 li {
    display: inline-block;
    text-align: center;
    margin-right: 100px;
    border: 2px solid #e6e5e5;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #0000000d;
    padding-top: 10px;
    width: 300px;
    height: 300px;
}


/*CONTENT3*/

.content-3 {
    position: flex;
    background-color: #261447;
    color: #ffffff;
    left: 0px;
    right: 0px;
    height: 800px;
    z-index: -1;
    background-image: url(images/blob.png);
    background-repeat: no-repeat;
    background-size: 450px 550px;
    background-position: bottom 150px right 300px;
}

.content-3 ul {
    list-style-type: none;
}

.content-3 h2 {
    margin-left: 100px;
}

.content-3 h4 {
    margin-left: 100px;
}

.content-3 p {
    margin-left: 130px;
}

#other-background {
    height: 750px;
    background-image: url(images/electric\ scooter\ profile\ view.png);
    background-repeat: no-repeat;
    background-size: 550px 650px;
    background-position: bottom 50px right 200px;
}


/*CONTENT4*/

.content-4 {
    margin-top: 0px;
    margin-left: 100px;
    width: 1400px;
    list-style-type: none;
}

.content-4 h2 {
    margin-left: 650px;
    text-decoration: underline #3ff1aadd;
    text-decoration-style: dashed;
    text-underline-offset: 1rem;
    text-decoration-thickness: 5px;
}

.content-4 ul {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 100px;
}

.content-4 li {
    display: inline-block;
    margin-left: 130px;
    border: 2px solid #e6e5e5;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #0000000d;
    padding-top: 10px;
    width: 350px;
    height: 150px;
}

.content-4 li p {
    color: gray;
    text-align: center;
    margin-top: 30px;
}

.content-4 li h5 {
    font-size: 46px;
    text-align: center;
    margin-top: 25px;
}


/*CONTENT5*/

.content-5 {
    margin-top: 50px;
    margin-left: 100px;
    width: 1400px;
    text-align: center;
    height: 800px;
}

#n {
    color: gray;
}

.content-5 h2 {
    margin-top: 0px;
    font-size: 36px;
}

.content-5 h2 span {
    text-decoration: underline #3ff1aadd;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}


/*-----background-----*/

.content-5 {
    background-image: url(images/Scooter\ Illustration\ 3.png );
    background-repeat: no-repeat;
    background-size: 450px 550px;
    background-position: bottom 100px right 600px;
}


/*-------------------*/

.content-5 ul {
    margin-top: 200px;
    margin-left: 100px;
    list-style-type: none;
}

.content-5 li {
    background-color: #ffffff;
    border: 2px solid #e6e5e5;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #0000000d;
    width: 250px;
    height: 30px;
    margin-top: 20px;
}

.content-5 li p {
    text-align: center;
    margin-top: 5px;
}

#z {
    margin-top: 10px;
    margin-left: 700px;
}